body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection{
    color: #fff;
    background: #000; 
}

.hero-section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('https://cdn.publisher-live.etc.nu/swp/uc3g8l/media/20230223070216_509ab521a2d7249886cff3faebe4c17cd6a8ec5760f583800eef85b17fba1a3d.webp') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    overflow-y: hidden;
}

.hero-section .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-section .content{
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
}

.hero-section h1{
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff204;
}

.hero-section p{
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-section .buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.hero-section .btn{
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero-section .btn.primary{
    background-color: #e67e22;
    color: #fff;
}

.hero-section .btn.primary:hover{
    background-color: #d35400;
}

.hero-section .btn.secondary{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.hero-section .btn.secondary:hover{
    background-color: #fff;
    color: #333;
}

@media (max-width: 960px){
    .hero-section h1{
        font-size: 2.5rem;
    }

    .hero-section p{
        font-size: 1rem;
    }

    .hero-section .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        max-width: 100%;
    }

    .hero-section .btn{
        width: 100%;
        margin: 5px 0;
    }
}

.mission{
    text-align: center;
    padding: 20px 20px;
}

.mission h2{
    font-size: 2rem;
    margin-bottom: 40px;
}

.initiatives{
    text-align: center;
    padding: 20px 20px;
}

.initiatives h2{
    font-size: 2rem;
    margin-bottom: 40px;
}

.initiatives-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.initiative{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    max-width: 650px;
    margin: 10px;
    text-align: center;
}

.initiative img{
    width: 100%;
    height: auto;
}

.initiative h3{
    font-size: 1.5rem;
    margin: 20px 0;
}

.initiative p{
    font-size: 1.2rem;
    margin: 0 20px 20px;
    color: #555;
}

.donate{
    margin-top: 40px;
}

.donate .btn{
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e67e22;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.donate .btn:hover{
    background-color: #d35400;
}

@media (max-width: 1130px){
    .initiative{
        margin: 20px 0;
    }

    .initiative h3{
        font-size: 1.2rem;
    }

    .initiative p{
        font-size: 1rem;
    }
}

.about{
    text-align: center;
    padding: 50px 20px;
}

.about h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

.about .intro{
    word-wrap: break-word;
    color: #434A56;
    font-size: 1.2rem;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.85;
}

.about .content{
    word-wrap: break-word;
    color: #434A56;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.about .content img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.about .content p{
    font-size: 1.2rem;
    max-width: 600px;
    text-align: center;
    line-height: 1.85;
}

.full-width-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    gap: 20px;
    text-align: center;
}

.full-width-images img{
    width: 800px;
    height: auto;
}

@media (max-width: 960px){
    .about .content{
        flex-direction: column;
        text-align: left;
    }
    .about h1{
        font-size: 2.5rem;
    }
    .about .intro p{
        font-size: 1rem;
    }
    .about .content p{
        margin-left: 20px;
        font-size: 1rem;
    }
    .full-width-images img{
        width: 80%;
    }
}

.contact{
    padding: 50px 20px;
}

.contact h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
}

.contact .content{
    max-width: 50%;
    margin: 0 auto;
    text-align: left;
}

.contact .content h3{
    color: #434A56;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.contact .content p{
    color: #434A56;
    font-size: 1.2rem;
    word-wrap: break-word;
    line-height: 1.85;
    margin-bottom: 40px;
}

@media (max-width: 960px){
    .contact .content{
        max-width: 100%;
    }
    .contact h1{
        font-size: 2.5rem;
    }
    .contact .content h3{
        font-size: 1.2rem;
    }
    .contact .content p{
        margin-left: 20px;
        font-size: 1rem;
    }
}

.staff{
    text-align: center;
    padding: 50px 20px;
}

.staff h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

@media (max-width: 960px){
    .staff h1{
        font-size: 2.5rem;
    }
    .full-width-images img{
        width: 80%;
    }
}

.beneficiary{
    text-align: center;
    padding: 50px 20px;
}

.beneficiary h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

@media (max-width: 960px){
    .beneficiary h1{
        font-size: 2.5rem;
    }
    .full-width-images img{
        width: 80%;
    }
}

.gallery{
    text-align: center;
    padding: 50px 20px;
}

.gallery h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

@media (max-width: 960px){
    .gallery h1{
        font-size: 2.5rem;
    }
    .full-width-images img{
        width: 80%;
    }
}