<div class="navbar">
    <a href="index.html" id="logo">SDKGSSansthan</a>
    <div class="quick-links-container">
        <a href="index.html" id="quick-link">Home</a>
        <a href="about.html" id="quick-link">About</a>
        <a href="staff.html" id="quick-link">Staff List</a>
        <a href="beneficiary.html" id="quick-link">Beneficiaries</a>
        <a href="gallery.html" id="quick-link">Gallery</a>
        <a href="contact.html" id="quick-link">Contact</a>
    </div>
    <div class="social-links-container">
        <a href="https://www.instagram.com/" id="social-link" target="_blank"><i class="fa fa-fw fa-instagram"></i></a>
        <a href="https://www.twitter.com/" id="social-link" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
        <a href="https://www.facebook.com/" id="social-link" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
    </div>
</div>